<div class="panel panel-success padded-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Your Files</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Filetype</th>
        <th>Last modified</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.uploads.find_each.each do |upload| %>
        <tr>
          <td><%= upload.data_file_name %></td>
          <td><%= upload.data_file_size %></td>
          <td><%= upload.data_content_type %></td>
          <td><%= upload.updated_at %></td>
          <td><%= link_to 'Download', upload.data.url(:original), :target => "_blank" %></td>
          <td><%= link_to 'Decrypt', decrypt_upload_path(upload), :target => "_blank" %></td>
          <td><%= link_to 'Share', edit_upload_path(upload) %></td>
          <td><%= link_to 'Delete', upload_path(upload), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
