<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.file_field :data, class: "centered-upload" %>
  </p>

  <p class="col-md-4 col-md-offset-4 text-center">
    <%= f.submit "Upload" , class: "btn btn-success centered-upload" %>
  </p>
<% end %>
